{% extends "base.html" %}
{% block title %} Crear Productos {% endblock %}
{% block content %}
<link rel="stylesheet" href="">
<h1 class="d-flex justify-content-center bg-success text-white m-2 p-2 rounded-3">Crear Productos</h1>
<form class="d-flex flex-column align-items-center w-100" method="POST">
    {% csrf_token %}

    <div class="d-flex justify-content-center form-group row my-2 w-100">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre: </label>
        <div class="col-sm-10 w-50">
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese el producto" class="form-control w-100"
                required />
        </div>
    </div>

    <div class="d-flex justify-content-center form-group row my-2 w-100">
        <label for="precio" class="col-sm-2 col-form-label">Precio: </label>
        <div class="col-sm-10 w-50">
            <input type="number" id="precio" name="precio" placeholder="Ingrese el precio" step="0.1" min="0.1"
                class="form-control w-100" required />
        </div>
    </div>

    <div class="d-flex justify-content-center form-group row my-2 w-100">
        <label for="cantidad" class="col-sm-2 col-form-label">Cantidad: </label>
        <div class="col-sm-10 w-50">
            <input type="number" id="cantidad" name="cantidad" placeholder="Ingrese la cantidad del producto" step="0.1"
                min="0.1" class="form-control w-100" required />
        </div>
    </div>

    <div class="w-25 m-5 form-group row">
        <button type="submit" class="btn btn-outline-success">Crear Producto</button>
    </div>
</form>
{% endblock %}