{% extends "base.html" %}

{% block title %} Eliminar Productos {% endblock %}

{% block content%}
<h1 class="d-flex justify-content-center bg-success text-white m-2 p-2 rounded-3">Eliminar Productos</h1>
<div class="d-flex justify-content-center">
    <a class="mx-5 btn btn-outline-success m-3" href="{% url 'listar_productos' %}">Listar Productos</a>
</div>
<form method="post" class="d-flex justify-content-center m-5">{% csrf_token %}
    <h4 class="mx-3">Nombre: </h4>
        <input type="text" id="nombre" name="nombre" class="border-bottom border-3 border-success-subtle border-start-0 border-top-0 border-end-0 form-control me-2 mx-3">
        <button type="submit" class="mx-5 btn btn-outline-success">Eliminar</button>
</form>

<table class="table table-striped">
    <tr class="table d-flex justify-content-center">
        <td class="bg-success-subtle text-success-emphasis rounded-top-4 d-flex flex-fill justify-content-center">
            Nombre
        </td>
        <td class="bg-success-subtle text-success-emphasis rounded-top-4 d-flex flex-fill justify-content-center">
            Precio
        </td>
        <td class="bg-success-subtle text-success-emphasis rounded-top-4 d-flex flex-fill justify-content-center">
            Cantidad</td>
    </tr>
    {% for producto in productos %}
    <tr class="d-flex justify-content-center">
        <td class="d-flex flex-fill justify-content-center">{{ producto.nombre }}</td>
        <td class="d-flex flex-fill justify-content-center">{{ producto.precio }}</td>
        <td class="d-flex flex-fill justify-content-center">{{ producto.cantidad }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock%}